@font-face {
	font-family: "Quantum";
	src: url(Quantum/QuantumRegular.woff2) format("woff2"), url(Quantum/QuantumRegular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
